@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ErrorCode == null && Model.ErrorMessage == null)
{
    <h1 class="text-danger">Error Occurred</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @*@if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }*@
}
else
{
    <h1 class="text-danger">Error Code : @Model.ErrorCode</h1>
    <h2 class="text-danger">Error Message : @Model.ErrorMessage</h2>
}
