@model HoroscopeApplication.ViewModels.DateOfBirthViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="loader" class="center"></div>
<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope Finder</h1>
    <div class="container">
        <p>Enter your Date of Birth to find your horoscope</p>
        <div class="row">
            <div class="col-md-3" style="margin: auto">
                <form method="post" asp-action="Index" asp-controller="Horoscope">
                    <div class="form-group">
                        <input id="datepicker1" type="date" class="form-control" asp-for="Dob">
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnFindHoroscope" class="btn btn-outline-dark">Find Horoscope</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row flex justify-content-center">
            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/aquarius.png" alt="">
                    <h4>Aquarius</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/pisces.png" alt="">
                    <h4>Pisces</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/aries.png" alt="">
                    <h4>Aries</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/taurus.png" alt="">
                    <h4>Taurus</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/gemini.png" alt="">
                    <h4>Gemini</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/cancer.png" alt="">
                    <h4>Cancer</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row flex justify-content-center">
            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/leo.png" alt="">
                    <h4>Leo</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/virgo.png" alt="">
                    <h4>Virgo</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/libra.png" alt="">
                    <h4>Libra</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/scorpio.png" alt="">
                    <h4>Scorpio</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/sagittarius.png" alt="">
                    <h4>Sagittarius</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>

            <div class="card middle">
                <div class="front">
                    <img src="~/images/sunsigns/capricorn.png" alt="">
                    <h4>Capricorn</h4>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <span>Info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#loader").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script>
}
