@model HoroscopeApplication.ViewModels.DateOfBirthViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope Finder</h1>
    <div class="container">
        <p>Enter your Date of Birth to find your horoscope</p>
        <div class="row">
            <div class="col-md-3" style="margin: auto">
                <form method="post" asp-action="Index" asp-controller="Horoscope">
                    <div class="form-group">
                        <input id="datepicker1" type="date" class="form-control" asp-for="Dob">
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnFindHoroscope" class="btn btn-outline-success">Find Horoscope</button>
                    </div>
                </form>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/aquarius.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Aquarius</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/pisces.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Pisces</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/aries.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>DarkCode</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/taurus.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Taurus</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/gemini.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Gemini</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/cancer.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Cancer</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/leo.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Leo</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/virgo.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Virgo</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/libra.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Libra</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/scorpio.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Scorpio</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/sagittarius.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Sagittarius</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>

                <div class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/capricorn.svg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middle">
                            <h4>Capricorn</h4>
                            <span>Info</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
