@model HoroscopeApplication.ViewModels.DateOfBirthViewModel

@{
    ViewData["Title"] = "Home";
    var cnt = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope Finder</h1>
    <div class="container">
        <p>Enter your Date of Birth to find your horoscope</p>
        <div class="row">
            <div class="col-md-3" style="margin: auto">
                <form id="dateForm" method="post" asp-action="Index" asp-controller="Horoscope"
                      onsubmit="onBtnClick()">
                    <div class="form-group">
                        <input id="datepicker1" type="date" class="form-control" asp-for="Dob" value="">
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnFindHoroscope" name="btnFindHoroscope" class="btn btn-outline-light"
                                type="submit" onclick="onBtnClick()">
                            Find Horoscope
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div id="divLoader"></div>
    </div>    

    <div class="container">
        <div class="row flex justify-content-center">

            @foreach (var sunsignInfo in Model.SunsignBasicInfos)
            {
                <div id="signCard" class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/@(sunsignInfo.Key).png" alt="">
                        <h5>@(sunsignInfo.Key)</h5>
                    </div>

                    <div class="back">
                        <div class="back-content middle">
                            <h5>@sunsignInfo.Value.DateRange</h5>
                            <p>@sunsignInfo.Value.About</p>
                        </div>
                    </div>
                </div>
                cnt++;
            }
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
       function onBtnClick() {
           var $valid = $("#dateForm").valid();
           if ($valid) {
               console.log("Valid");
               $('#divLoader').show(0);
               return true;
           }
           else {
               console.log("Invalid");
               return false;
           }

           @*
           var date = document.querySelector('input[type="date"]').value;
           console.log(date);

           if ($('#datePicker1').is(':empty')) {-->
               document.querySelector('divLoader') = true;
               console.log("Testing");
           }
            if (date.value != "") {
               btnFindHoroscope.disabled = true;
           }
           else {
               btnFindHoroscope.disabled = false;
           }

           return true;*@
       }
    </script>
}
