@model HoroscopeApplication.ViewModels.DateOfBirthViewModel

@{
    ViewData["Title"] = "Home";
    var cnt = 0;
}

<div id="divLoader" style="display: none; position: center">
    <img src="~/images/loader.gif" />
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope Finder</h1>
    <div class="container">
        <p>Enter your Date of Birth to find your horoscope</p>
        <div class="row">
            <div class="col-md-3" style="margin: auto">
                <form method="post" asp-action="Index" asp-controller="Horoscope">
                    <div class="form-group">
                        <input id="datepicker1" type="date" class="form-control" asp-for="Dob">
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnFindHoroscope" class="btn btn-outline-light" type="submit">Find Horoscope</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    <div class="container">
        <div class="row flex justify-content-center">

            @foreach (var sunsignInfo in Model.SunsignBasicInfos)
            {
                <div id="signCard" class="card middle">
                    <div class="front">
                        <img src="~/images/sunsigns/@(sunsignInfo.Key).png" alt="">
                        <h5>@(sunsignInfo.Key)</h5>
                    </div>

                    <div class="back">
                        <div class="back-content middle">
                            <h5>@sunsignInfo.Value.DateRange</h5>
                            <p>@sunsignInfo.Value.About</p>
                        </div>
                    </div>
                </div>
                cnt++;
            }
        </div>
    </div>
</div>


@section Scripts{
    <script>
        @*$("#btnFindHoroscope").click(function () {
            $('#btnFindHoroscope').attr("disabled", true);
            $("#divLoader").show();
            $.ajax
                ({
                    url: '/Horoscope/Index',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    //async: true,  
                    //processData: false,  
                    // cache: false,
                    success: function (data) {
                        $("#divLoader").hide();
                        $('#btnFindHoroscope').attr("disabled", false);
                    },
                    error: function (xhr) {
                        $("#divLoader").hide();
                        $('#btnFindHoroscope').attr("disabled", false);
                    }
                })
        });*@
    </script>
}
